@using Amsystem.Data.Entities
@model IEnumerable<Agreement>

@{
    ViewBag.Title = "Agreement";
}

<h2>Agreements</h2>
<hr/>

<p>@Html.ActionLink("Create new", "AddAgreement", "Agreement", null, new { @class = "btn btn-success" })</p>
<br />

<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr>
            <th>Description</th>
            <th>Observation</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var agreement in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(agreementItem => agreement.Description)
                </td>
                <td>
                    @Html.DisplayFor(agreementItem => agreement.Observation)
                </td>
                <td>
                    @Html.DisplayFor(agreementItem => agreement.DueDate)
                </td>
                <td>
                    <a href="@Url.Action("EditAgreement", "Agreement", new { id = agreement.Id } )" data-toggle="tooltip" title="Edit agreement" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
